  * {
    font-family: 'Amiri', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
    letter-spacing: 3px;
  }
  header {
    width: auto;
    height: 400px;
    background-image:url("../image/INSERER-IMAGES-POUR-FORMAT-SLIDER4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
.navbar {
  padding: 10px;
  float: right;
  height: 35px;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color:#3f7dc1;
    margin: 10px;
    font-size: 18pt;
    word-spacing: 2px;
    letter-spacing: 3px;

}
.navbar a:hover {
  color: gray;
  font-size: 48px;
}
.container {
  background-color:antiquewhite;
}

.col-md-12 h1 {
  text-transform: uppercase;
  color: #3f7dc1;
}
.col-md-5 .form{
  background-color: gray;
  width: 650px;
  height: 800px;
}
.col-md-5 .form div {
  width: 100%;
  height: 50px;
  padding: 30px;
}
div label {
  width: 50%;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
  font-size: 14pt;
}
div input,select {
  display: block;
  width: 60%;
  height: 30px;
  padding: 5px;
  margin-left: 50px;

}
button{
    background-color: darksalmon;
    float: right;
    color:#fff;
    font-size: 18pt;
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
    padding:10pt;
    width: 250px;
    height: 60px;
    border: transparent;
    border-radius: 50px;
}
button:hover {
  background-color: blanchedalmond;
  color: #000;
}
.col-md-12{
  background-color: aliceblue;
  padding: 20px;
  margin-top: 30px;

}
.col-md-5 {
  display: inline-block;
  padding: 20px;
  top: 0;
  left:0 ;
}
.col-md-5 img{
  width: 90%;
  height: 100%;
}
footer {
  padding: 20px;
  background-color: #000;
  height: 50px;
  color:#fff;
  text-align: center;
}
